extends ../layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
                    li
                        a(href=`/category/${category.slug}`)= category.content
                    li.active= product.name
    .content-wraper
        .container
            .row.single-product-area
                .col-lg-5.col-md-6
                    .product-details-left
                        .product-details-images.slider-navigation-1
                            each image in productImages 
                                .lg-image 
                                    img(src=image.imageUrl alt=product.name)
                        .product-details-thumbs.slider-thumbs-1
                            each image in productImages 
                                .sm-image 
                                    img(src=image.imageUrl alt=product.name)                                    
                .col-lg-7.col-md-6
                    .product-details-view-content.sp-normal-content.pt-60
                        .product-info
                            h2= product.name
                            .rating-box.pt-20
                                ul.rating.rating-with-review-item
                                    li
                                        i.fa.fa-star-o
                                    li
                                        i.fa.fa-star-o
                                    li
                                        i.fa.fa-star-o
                                    li.no-star
                                        i.fa.fa-star-o
                                    li.no-star
                                        i.fa.fa-star-o
                                    li.review-item
                                        a(href='#') Nhận xét
                            .price-box.pt-20
                                span.new-price.new-price-2= product.price + " VNĐ"
                            .single-add-to-cart
                                form.cart-quantity(action='#')
                                    .quantity
                                        label Số lượng
                                        .cart-plus-minus
                                            input.cart-plus-minus-box(value='1' type='text')
                                            .dec.qtybutton
                                                i.fa.fa-angle-down
                                            .inc.qtybutton
                                                i.fa.fa-angle-up
                                    button.add-to-cart(type='submit') Thêm vào giỏ hàng
                            .product-additional-info
                                .product-additional-info.pt-25
                                    a.wishlist-btn(href='wishlist.html')
                                        i.fa.fa-heart-o
                                        | Thích
    .product-area.pt-40
        .container
            .row
                .col-lg-12
                    .li-product-tab
                        ul.nav.li-product-menu
                            li
                                a.active(data-toggle='tab' href='#description')
                                    span Mô tả sản phẩm
                            li
                                a(data-toggle='tab' href='#product-details')
                                    span Thông số kỹ thuật
                            li
                                a(data-toggle='tab' href='#reviews')
                                    span Nhận xét
            .tab-content
                #description.tab-pane.active.show(role='tabpanel')
                    .product-description
                        each line in product.description.split('\n') 
                            p #{line}
                #product-details.tab-pane(role='tabpanel')
                    .product-details-manufacturer
                        .table-content.table-responsive
                            table.table
                                tbody
                                    each specification in productSpecifications 
                                        tr
                                            td.li-product-spec= specification.content 
                                            td.li-product-detail= specification.value
                #reviews.tab-pane(role='tabpanel')
                    .product-reviews
                        .product-details-comment-block
                            .comment-author-infos.pt-25
                                span L&ecirc; B&aacute; S&#x1A1;n
                                ul.rating
                                    li
                                        i.fa.fa-star-o
                                    li
                                        i.fa.fa-star-o
                                    li
                                        i.fa.fa-star-o
                                    li.no-star
                                        i.fa.fa-star-o
                                    li.no-star
                                        i.fa.fa-star-o
                                em 01-10-2021
                                p
                                    | s&#x1EA3;n ph&#x1EA9;m &dstrok;&#x1EB9;p, &dstrok;&oacute;ng g&oacute;i s&#x1EA3;n ph&#x1EA9;m t&#x1ED1;t, &dstrok;ang t&igrave;m c&aacute;ch k&iacute;ch ho&#x1EA1;t b&#x1EA3;o h&agrave;nh shop, shop ph&#x1EA3;n h&#x1ED3;i tin nh&#x1EAF;n gi&uacute;p m&igrave;nh nh&eacute;
                            .review-btn
                                a.review-links(href='#' data-toggle='modal' data-target='#mymodal') Vi&#x1EBF;t Nhận xét
                            #mymodal.modal.fade.modal-wrapper
                                .modal-dialog.modal-dialog-centered(role='document')
                                    .modal-content
                                        .modal-body
                                            h3.review-page-title Vi&#x1EBF;t Nhận xét
                                            .modal-inner-area.row
                                                .col-lg-6
                                                    .li-review-product
                                                        img(src='/images/product/large-size/1.jpg' alt="Li's Product")
                                                        .li-review-product-desc
                                                            h2 Dell S2421HN Monitor - 23.8 inch, FHD, IPS, 75Hz, 2x HDMI
                                                .col-lg-6
                                                    .li-review-content
                                                        // Begin Feedback Area
                                                        .feedback-area
                                                            .feedback
                                                                form(action='#')
                                                                    p.your-opinion
                                                                        label &Dstrok;&aacute;nh gi&aacute;
                                                                        span
                                                                            select.star-rating
                                                                                option(value='1') 1
                                                                                option(value='2') 2
                                                                                option(value='3') 3
                                                                                option(value='4') 4
                                                                                option(value='5') 5
                                                                    p.feedback-form
                                                                        label(for='feedback') Nhận xét
                                                                        textarea#feedback(name='comment' cols='45' rows='8' aria-required='true')
                                                                    .feedback-input
                                                                        p.feedback-form-author
                                                                            label(for='author')
                                                                                | T&ecirc;n
                                                                                span.required *
                                                                            input#author(name='author' value='' size='30' aria-required='true' type='text')
                                                                        p.feedback-form-author.feedback-form-email
                                                                            label(for='email')
                                                                                | Email
                                                                                span.required *
                                                                            input#email(name='email' value='' size='30' aria-required='true' type='text')
                                                                            span.required
                                                                                sub *
                                                                                | B&#x1EAF;t bu&#x1ED9;c
                                                                        .feedback-btn.pb-15
                                                                            a.close(href='#' data-dismiss='modal' aria-label='Close') &Dstrok;&oacute;ng
                                                                            a(href='#') G&#x1EED;i
    section.product-area.li-laptop-product.pt-30.pb-50
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            span Sản phẩm tương tự
                    .row
                        .product-active.owl-carousel
                            each relativeProduct in relativeProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${relativeProduct.slug}`)
                                                img(src=relativeProduct.imageUrl alt=relativeProduct.name)
                                            span.sticker Mới
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    .rating-box
                                                        ul.rating
                                                            li
                                                                i.fa.fa-star-o
                                                            li
                                                                i.fa.fa-star-o
                                                            li
                                                                i.fa.fa-star-o
                                                            li.no-star
                                                                i.fa.fa-star-o
                                                            li.no-star
                                                                i.fa.fa-star-o
                                                h4
                                                    a.product_name(href=`/product/${relativeProduct.slug}`)= relativeProduct.name
                                                .price-box
                                                    span.new-price= relativeProduct.price + " VNĐ"
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a(href='#')
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.quick-view-btn(href='#' title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.links-details(href='wishlist.html')
                                                            i.fa.fa-heart-o                            
    #exampleModalCenter.modal.fade.modal-wrapper
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-inner-area.row
                        .col-lg-5.col-md-6.col-sm-6
                            .product-details-left
                                .product-details-images.slider-navigation-1
                                    .lg-image
                                        img(src='/images/product/large-size/1.jpg' alt='product image')
                                    .lg-image
                                        img(src='/images/product/large-size/2.jpg' alt='product image')
                                    .lg-image
                                        img(src='/images/product/large-size/3.jpg' alt='product image')
                                    .lg-image
                                        img(src='/images/product/large-size/4.jpg' alt='product image')
                                    .lg-image
                                        img(src='/images/product/large-size/5.jpg' alt='product image')
                                    .lg-image
                                        img(src='/images/product/large-size/6.jpg' alt='product image')
                                .product-details-thumbs.slider-thumbs-1
                                    .sm-image
                                        img(src='/images/product/small-size/1.jpg' alt='product image thumb')
                                    .sm-image
                                        img(src='/images/product/small-size/2.jpg' alt='product image thumb')
                                    .sm-image
                                        img(src='/images/product/small-size/3.jpg' alt='product image thumb')
                                    .sm-image
                                        img(src='/images/product/small-size/4.jpg' alt='product image thumb')
                                    .sm-image
                                        img(src='/images/product/small-size/5.jpg' alt='product image thumb')
                                    .sm-image
                                        img(src='/images/product/small-size/6.jpg' alt='product image thumb')
                            // // Product Details Left
                        .col-lg-7.col-md-6.col-sm-6
                            .product-details-view-content.pt-60
                                .product-info
                                    h2 Dell S2421HN Monitor - 23.8 inch, FHD, IPS, 75Hz, 2x HDMI
                                    .rating-box.pt-20
                                        ul.rating.rating-with-review-item
                                            li
                                                i.fa.fa-star-o
                                            li
                                                i.fa.fa-star-o
                                            li
                                                i.fa.fa-star-o
                                            li.no-star
                                                i.fa.fa-star-o
                                            li.no-star
                                                i.fa.fa-star-o
                                            li.review-item
                                                a(href='/products/1') Nhận xét
                                    .price-box.pt-20
                                        span.new-price.new-price-2 4.489.000 VNĐ
                                    .product-desc
                                        p Màn hình l&agrave;m vi&#x1EC7;c Dell S2421HN ch&acirc;n m&agrave;u b&#x1EA1;c sang tr&#x1ECD;ng
                                        p T&#x1EA5;m n&#x1EC1;n IPS cho g&oacute;c nh&igrave;n l&ecirc;n &dstrok;&#x1EBF;n 178&prime;
                                        p Vi&#x1EC1;n m&#x1ECF;ng, h&#x1EC7; m&agrave;u NTSC &dstrok;&#x1EA1;t 72% (CIE 1931)
                                        p H&#x1ED7; tr&#x1EE3; c&#x1ED5;ng HDMI th&ocirc;ng d&#x1EE5;ng v&#x1EDB;i m&#x1ECD;i PC
                                    .single-add-to-cart
                                        form.cart-quantity(action='#')
                                            .quantity
                                                label Số lượng
                                                .cart-plus-minus
                                                    input.cart-plus-minus-box(value='1' type='text')
                                                    .dec.qtybutton
                                                        i.fa.fa-angle-down
                                                    .inc.qtybutton
                                                        i.fa.fa-angle-up
                                            button.add-to-cart(type='submit') THÊM VÀO GIỎ HÀNG
                                    .product-additional-info.pt-25
                                        a.wishlist-btn(href='wishlist.html')
                                            i.fa.fa-heart-o
                                            | Thích