extends ../layouts/default.pug

block main
    - currentPage = parseInt(currentPage)
    - totalPages = parseInt(totalPages)
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
                    li
                        a(href=`/category/${category.slug}`)= category.content
                    li.active= product.name
    .content-wraper
        .container
            .row.single-product-area
                .col-lg-5.col-md-6
                    .product-details-left
                        .product-details-images.slider-navigation-1
                            each image in productImages 
                                .lg-image 
                                    img(src=image.imageUrl alt=product.name)
                        .product-details-thumbs.slider-thumbs-1
                            each image in productImages 
                                .sm-image 
                                    img(src=image.imageUrl alt=product.name)                                    
                .col-lg-7.col-md-6
                    .product-details-view-content.sp-normal-content.pt-60
                        .product-info
                            h2= product.name
                            .rating-box.pt-20
                                ul.rating.rating-with-review-item
                                    - for (let i = 0; i < Math.ceil(product.averageRating); i++) {
                                            li
                                                i.fa.fa-star-o
                                    - }
                                    - for (let i = Math.ceil(product.averageRating); i < 5; i++) {
                                            li.no-star
                                                i.fa.fa-star-o
                                    - }
                                    li.review-item
                                        a(href='#reviews') Nhận xét
                            .price-box.pt-20
                                span.new-price.new-price-2= product.price + " VNĐ"
                            .single-add-to-cart
                                form.cart-quantity(action=product.id)
                                    .quantity
                                        label Số lượng
                                        .cart-plus-minus
                                            input.cart-plus-minus-box(value='1' type='text')
                                            .dec.qtybutton
                                                i.fa.fa-angle-down
                                            .inc.qtybutton
                                                i.fa.fa-angle-up
                                    button.add-to-cart(type='submit') Thêm vào giỏ hàng
                            .product-additional-info
                                .product-additional-info.pt-25
                                    a.wishlist-btn(href='javascript:;' onclick=`addItemToWishlist(${product.id});`)
                                        i.fa.fa-heart-o
                                        | Thích
    .product-area.pt-40
        .container
            .row
                .col-lg-12
                    .li-product-tab
                        ul.nav.li-product-menu
                            li
                                a.active(data-toggle='tab' href='#description')
                                    span Mô tả sản phẩm
                            li
                                a(data-toggle='tab' href='#product-details')
                                    span Thông số kỹ thuật
                            li
                                a(data-toggle='tab' href='#reviews')
                                    span Nhận xét
            .tab-content
                #description.tab-pane.active.show(role='tabpanel')
                    .product-description
                        each line in product.description.split('\n') 
                            p #{line}
                #product-details.tab-pane(role='tabpanel')
                    .product-details-manufacturer
                        .table-content.table-responsive
                            table.table
                                tbody
                                    each specification in productSpecifications 
                                        tr
                                            td.li-product-spec= specification.content 
                                            td.li-product-detail= specification.value
                #reviews.tab-pane(role='tabpanel')
                    .product-reviews
                        .product-details-comment-block
                            each review in reviews 
                                .comment-author-infos.pt-25
                                    span= review.fullName
                                    ul.rating
                                        - for (let i = 0; i < review.rating; i++) {
                                                li
                                                    i.fa.fa-star-o
                                        - }
                                        - for (let i = review.rating; i < 5; i++) {
                                                li.no-star
                                                    i.fa.fa-star-o
                                        - }
                                    em= review.createdAt
                                    p= review.content                                        
                            .review-btn
                                a.review-links(href='javascript:;' data-toggle='modal' data-target='#mymodal') Viết nhận xét
                            #mymodal.modal.fade.modal-wrapper
                                .modal-dialog.modal-dialog-centered(role='document')
                                    .modal-content
                                        .modal-body
                                            h3.review-page-title Viết nhận xét
                                            .modal-inner-area.row
                                                .col-lg-6
                                                    .li-review-product
                                                        if productImages[0] !== undefined
                                                            img(src=productImages[0].imageUrl style="max-width: 300px; max-height:300px;")
                                                        .li-review-product-desc
                                                            h2= product.name
                                                .col-lg-6
                                                    .li-review-content
                                                        .feedback-area
                                                            .feedback
                                                                form(action='#')
                                                                    p.your-opinion
                                                                        label Đánh giá
                                                                        span
                                                                            select.star-rating
                                                                                option(value='1') 1
                                                                                option(value='2') 2
                                                                                option(value='3') 3 
                                                                                option(value='4') 4
                                                                                option(value='5') 5
                                                                    p.feedback-form
                                                                        label(for='feedback') Nhận xét
                                                                        textarea#feedback(name='comment' cols='45' rows='8' aria-required='true')
                                                                        span.required
                                                                            sub#feedback-message
                                                                        .feedback-btn.pb-15
                                                                            a.close(href='#' data-dismiss='modal' aria-label='Close') Đóng
                                                                            a#submit-review(href='javascript:;') Gửi
                            .pagination-area
                                .row 
                                    .col-lg-6.col-md-6.pt-xs-15 
                                    .col-lg-6.col-md-6 
                                        ul#pagination-review.pagination-box.pt-xs-20.pb-xs-15 
                                            if currentPage > 1
                                                li#previous-arrow
                                                    a.Previous(href=`${currentPage - 1}`)
                                                        i.fa.fa-chevron-left
                                            else 
                                                li#previous-arrow.disabled
                                                    a.Previous(href='#')
                                                        i.fa.fa-chevron-left 
                                                                                       
                                            if totalPages == 1
                                                li#previous-page(style="display: none;")
                                                    a
                                                li#current-page.active
                                                    a(href='#') 1
                                                li#next-page(style="display: none;")
                                                    a
                                            else if totalPages == 2
                                                if currentPage == 1
                                                    li#previous-page.active
                                                        a(href='#') 1
                                                    li#current-page
                                                        a(href=`2`) 2
                                                    li#next-page(style="display: none;")
                                                        a
                                                else
                                                    li#previous-page(style="display: none;")
                                                        a
                                                    li#current-page
                                                        a(href=`1`) 1
                                                    li#next-page.active 
                                                        a(href='#') 2
                                            else
                                                if currentPage <= 1
                                                    li#previous-page.active 
                                                        a(href='#') 1
                                                    li#current-page
                                                        a(href=`2`) 2
                                                    li#next-page
                                                        a(href=`3`) 3
                                                else if currentPage >= totalPages 
                                                    li#previous-page
                                                        a(href=`${totalPages - 2}`)= totalPages - 2
                                                    li#current-page
                                                        a(href=`${totalPages - 1}`)= totalPages - 1
                                                    li#next-page.active 
                                                        a(href='#')= totalPages 
                                                else
                                                    li#previous-page
                                                        a(href=`${currentPage - 1}`)= currentPage - 1
                                                    li#current-page.active
                                                        a(href='#')= currentPage
                                                    li#next-page
                                                        a(href=`${currentPage + 1}`)= currentPage + 1
                                            if currentPage >= totalPages
                                                li#next-arrow.disabled
                                                    a.Next(href='#')
                                                        i.fa.fa-chevron-right
                                            else
                                                li#next-arrow
                                                    a.Next(href=`${currentPage + 1}`)
                                                        i.fa.fa-chevron-right
    section.product-area.li-laptop-product.pt-30.pb-50
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            span Sản phẩm tương tự
                    .row
                        .product-active.owl-carousel
                            each relativeProduct in relativeProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${relativeProduct.slug}`)
                                                img(src=relativeProduct.imageUrl alt=relativeProduct.name)
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    .rating-box
                                                        ul.rating
                                                            - for (let i = 0; i < Math.ceil(relativeProduct.rating); i++) {
                                                                    li
                                                                        i.fa.fa-star-o
                                                            - }
                                                            - for (let i = Math.ceil(relativeProduct.rating); i < 5; i++) {
                                                                    li.no-star
                                                                        i.fa.fa-star-o
                                                            - }
                                                h4
                                                    a.product_name(href=`/product/${relativeProduct.slug}`)= relativeProduct.name
                                                .price-box
                                                    span.new-price= `${relativeProduct.price} VNĐ`
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a.pointer(onclick=`addItemToCart(${relativeProduct.id});`)
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.pointer(href="#" onclick=`updateQuickView(${relativeProduct.id});` title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.pointer.links-details(href='javascript:;' onclick=`addItemToWishlist(${relativeProduct.id});`)
                                                            i.fa.fa-heart-o                            
    #exampleModalCenter.modal.fade.modal-wrapper
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-inner-area.row
                        .col-lg-5.col-md-6.col-sm-6
                            .product-details-left
                                .product-details-images.slider-navigation-1
                                .product-details-thumbs.slider-thumbs-1
                        .col-lg-7.col-md-6.col-sm-6
                            .product-details-view-content.pt-60
                                .product-info
                                    a
                                        h2
                                    .rating-box.pt-20
                                        ul.rating.rating-with-review-item
                                    .price-box.pt-20
                                        span.new-price.new-price-2
                                    .product-desc
                                    .single-add-to-cart
                                        form.cart-quantity(action='#')
                                            .quantity
                                                label Số lượng
                                                .cart-plus-minus
                                                    input.cart-plus-minus-box(value='1' type='text')
                                                    .dec.qtybutton
                                                        i.fa.fa-angle-down
                                                    .inc.qtybutton
                                                        i.fa.fa-angle-up
                                            button.add-to-cart(type='submit') THÊM VÀO GIỎ HÀNG
                                    .product-additional-info.pt-25
                                        a.wishlist-btn(href='#')
                                            i.fa.fa-heart-o
                                            | Thích