.header-middle-right
    ul.hm-menu
        li.hm-wishlist
            a(href='/wishlist')
                span.cart-item-count.wishlist-item-count 0
                i.fa.fa-heart-o
        li.hm-minicart
            .hm-minicart-trigger
                span.item-icon
                span.item-text= `${cart.total} VNĐ`
                    span.cart-item-count= cart.quantity
            span
            .minicart
                ul.minicart-product-list
                    each item in cart.items 
                        li 
                            a.minicart-product-image(href=`/products/${item.slug}`)
                                img(src=item.imageUrl alt=item.name)
                            .minicart-product-details 
                                h6 
                                    a(href=`/products/${item.slug}`)= item.name 
                                span= `${item.price} x ${item.quantity}`
                p.minicart-total
                    | TỔNG: 
                    span= `${cart.total} VNĐ`
                .minicart-button
                    a.li-button.li-button-dark.li-button-fullwidth.li-button-sm(href='/cart')
                        span Xem giỏ hàng
                    a.li-button.li-button-fullwidth.li-button-sm(href='/checkout')
                        span Thanh toán