extends ../layouts/default.pug

block main
    .slider-with-banner
        .container
            .row
                .col-lg-3
                    include ./category.menu.pug
                .col-lg-9 
                    include ./slider.area.pug
    section.product-area.li-laptop-product.li-laptop-product-2.pb-45.pt-60
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            span SẢN PHẨM MỚI
                    .row
                        .product-active.owl-carousel
                            each product in newProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${product.slug}`)
                                                img(src=product.imageUrl)
                                            span.sticker New
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    h5.manufacturer
                                                        a(href=`/category/${product.categorySlug}`)= product.categoryContent
                                                    .rating-box
                                                        ul.rating
                                                            - for (let i = 0; i < Math.ceil(product.averageRating); i++) {
                                                                    li
                                                                        i.fa.fa-star-o
                                                            - }
                                                            - for (let i = Math.ceil(product.averageRating); i < 5; i++) {
                                                                    li.no-star
                                                                        i.fa.fa-star-o
                                                            - }
                                                h4
                                                    a.product_name(href=`product/${product.slug}`)= product.name
                                                .price-box
                                                    span.new-price= `${product.price} VNĐ`
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a.pointer(onclick=`addItemToCart(${product.id});`)
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.pointer(href="#" onclick=`updateQuickView(${product.id});` title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.pointer.links-details(href='javascript:;' onclick=`addItemToWishlist(${product.id});`)
                                                            i.fa.fa-heart-o
    section.product-area.li-laptop-product.li-tv-audio-product-2.pb-45
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            span LINH KIỆN MÁY TÍNH
                    .row
                        .product-active.owl-carousel
                            each product in componentProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${product.slug}`)
                                                img(src=product.imageUrl)
                                            span.sticker New
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    h5.manufacturer
                                                        a(href=`/category/${product.categorySlug}`)= product.categoryContent
                                                    .rating-box
                                                        ul.rating
                                                            - for (let i = 0; i < Math.ceil(product.averageRating); i++) {
                                                                    li
                                                                        i.fa.fa-star-o
                                                            - }
                                                            - for (let i = Math.ceil(product.averageRating); i < 5; i++) {
                                                                    li.no-star
                                                                        i.fa.fa-star-o
                                                            - }
                                                h4
                                                    a.product_name(href=`product/${product.slug}`)= product.name
                                                .price-box
                                                    span.new-price= `${product.price} VNĐ`
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a.pointer(onclick=`addItemToCart(${product.id});`)
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.pointer(href="#" onclick=`updateQuickView(${product.id});` title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.pointer.links-details(href='javascript:;' onclick=`addItemToWishlist(${product.id});`)
                                                            i.fa.fa-heart-o
    section.product-area.li-laptop-product.li-smart-phone-product-2.pb-50
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            a(href='/category/man-hinh') MÀN HÌNH
                    .row
                        .product-active.owl-carousel
                            each product in monitorProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${product.slug}`)
                                                img(src=product.imageUrl)
                                            span.sticker New
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    h5.manufacturer
                                                        a(href=`/category/${product.categorySlug}`)= product.categoryContent
                                                    .rating-box
                                                        ul.rating
                                                            - for (let i = 0; i < Math.ceil(product.averageRating); i++) {
                                                                    li
                                                                        i.fa.fa-star-o
                                                            - }
                                                            - for (let i = Math.ceil(product.averageRating); i < 5; i++) {
                                                                    li.no-star
                                                                        i.fa.fa-star-o
                                                            - }
                                                h4
                                                    a.product_name(href=`product/${product.slug}`)= product.name
                                                .price-box
                                                    span.new-price= `${product.price} VNĐ`
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a.pointer(onclick=`addItemToCart(${product.id});`)
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.pointer(href="#" onclick=`updateQuickView(${product.id});` title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.pointer.links-details(href='javascript:;' onclick=`addItemToWishlist(${product.id});`)
                                                            i.fa.fa-heart-o                          
    section.product-area.li-laptop-product.li-smart-phone-product-2.pb-50
        .container
            .row
                .col-lg-12
                    .li-section-title
                        h2
                            a(href='/category/1') BÀN PHÍM
                    .row
                        .product-active.owl-carousel
                            each product in keyboardProducts
                                .col-lg-12
                                    .single-product-wrap
                                        .product-image
                                            a(href=`/product/${product.slug}`)
                                                img(src=product.imageUrl)
                                            span.sticker New
                                        .product_desc
                                            .product_desc_info
                                                .product-review
                                                    h5.manufacturer
                                                        a(href=`/category/${product.categorySlug}`)= product.categoryContent
                                                    .rating-box
                                                        ul.rating
                                                            - for (let i = 0; i < Math.ceil(product.averageRating); i++) {
                                                                    li
                                                                        i.fa.fa-star-o
                                                            - }
                                                            - for (let i = Math.ceil(product.averageRating); i < 5; i++) {
                                                                    li.no-star
                                                                        i.fa.fa-star-o
                                                            - }
                                                h4
                                                    a.product_name(href=`product/${product.slug}`)= product.name
                                                .price-box
                                                    span.new-price= `${product.price} VNĐ`
                                            .add-actions
                                                ul.add-actions-link
                                                    li.add-cart
                                                        a.pointer(onclick=`addItemToCart(${product.id});`)
                                                            i.fa.fa-cart-plus
                                                    li
                                                        a.pointer(href="#" onclick=`updateQuickView(${product.id});` title='quick view' data-toggle='modal' data-target='#exampleModalCenter')
                                                            i.fa.fa-eye
                                                    li
                                                        a.pointer.links-details(href='javascript:;' onclick=`addItemToWishlist(${product.id});`)
                                                            i.fa.fa-heart-o
    #exampleModalCenter.modal.fade.modal-wrapper
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-inner-area.row
                        .col-lg-5.col-md-6.col-sm-6
                            .product-details-left
                                .product-details-images.slider-navigation-1
                                .product-details-thumbs.slider-thumbs-1
                        .col-lg-7.col-md-6.col-sm-6
                            .product-details-view-content.pt-60
                                .product-info
                                    a
                                        h2
                                    .rating-box.pt-20
                                        ul.rating.rating-with-review-item
                                    .price-box.pt-20
                                        span.new-price.new-price-2
                                    .product-desc
                                    .single-add-to-cart
                                        form.cart-quantity(action='#')
                                            .quantity
                                                label Số lượng
                                                .cart-plus-minus
                                                    input.cart-plus-minus-box(value='1' type='text')
                                                    .dec.qtybutton
                                                        i.fa.fa-angle-down
                                                    .inc.qtybutton
                                                        i.fa.fa-angle-up
                                            button.add-to-cart(type='submit') THÊM VÀO GIỎ HÀNG
                                    .product-additional-info.pt-25
                                        a.wishlist-btn(href='#')
                                            i.fa.fa-heart-o
                                            | Thích