extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            h2.content-title Bảng điều khiển
        .row
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-primary-light
                            i.text-primary.material-icons.md-monetization_on
                        .text
                            h6.mb-1 Doanh thu
                            span= `${report.totalProfit} VNĐ`
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-success-light
                            i.text-success.material-icons.md-local_shipping
                        .text
                            h6.mb-1 Đơn đặt hàng
                            span= `${report.totalOrders}`
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-warning-light
                            i.text-warning.material-icons.md-shopping_basket
                        .text
                            h6.mb-1 Sản phẩm đã bán
                            span= `${report.totalProducts}`
        .card.mb-4
            .card-body
                h5.card-title Latest orders
                .table-responsive
                    table.table.table-hover
                        each order in orders
                            tr
                                td= order.id
                                td
                                    b= order.fullName
                                td= order.email
                                td= `${order.total} VNĐ`
                                td
                                    if (order.status == "Đang xử lý" || order.status == "Đang giao hàng")
                                        span.badge.rounded-pill.alert-warning= order.status 
                                    else if order.status == "Đã hủy"
                                        span.badge.rounded-pill.alert-danger= order.status 
                                    else 
                                        span.badge.rounded-pill.alert-success= order.status 
                                td= order.createdAt
                                td.text-end
                                    a.btn.btn-light(href=`/orders/${order.id}`) Chi tiết