form(method='POST' action=`/products/${product.id}/edit` enctype='multipart/form-data')
    .mb-4
        label.form-label(for='product_name') Tên sản phẩm
        input#product_name.form-control(type='text', name="productName", value=product.name)
    .mb-4
        label.form-label Mô tả
        textarea.form-control(name="description" rows='4')= product.description
    .row.gx-2 
        label.form-label Hình ảnh
        - for (let i = 1; i <= 4; i++) {
            .col-sm-3 
                .center 
                    .form-input 
                        .preview 
                            img
                        label(for=`file-ip${i}`) Upload 
                        input(id=`file-ip${i}` type="file" name="images" accept="image/*" onchange="showPreview(event);")
        - }
    .row.gx-2
        #category.col-sm-6.mb-3
            label.form-label Loại hàng
            select.form-select(name="category")
                each categoryBrand in categoryBrands
                    if categoryBrand.checked
                        option(value=categoryBrand.categoryId selected)= categoryBrand.categoryContent
                    else
                        option(value=categoryBrand.categoryId)= categoryBrand.categoryContent
        #brand.col-sm-6.mb-3
            label.form-label Thương hiệu
            select.form-select(name="brand")
                each categoryBrand in categoryBrands
                    if categoryBrand.checked            
                        each brand in categoryBrand.brands
                            if brand.checked
                                option(value=brand.brandId selected)= brand.brandContent
                            else
                                option(value=brand.brandId)= brand.brandContent
    #specifications.mb-4
        label.form-label Thông số kỹ thuật
        each specification in productSpecifications
            .row.gx-2 
                .col-1 
                    p.pt-20= specification.numberOrder
                .col-5 
                    input.form-control(name="specificationContent[]" placeholder="Chi tiết" type="text" value=specification.content)
                .col-6
                    input.form-control(name="specificationValue[]" placeholder="Thông số" type="text" value=specification.value)
    .mb-4
        span#add-button.btn.btn-light
            i.material-icons.md-plus
            | Thêm
    .mb-4
        label.form-label Giá
        .row.gx-2
            .col-4
                input.form-control(name="price" placeholder='VNĐ' type='text' value=product.price)
    label.form-check.mb-4
        if product.published
            input.form-check-input(type='checkbox' value='true' name="published" checked)
        else
            input.form-check-input(type='checkbox' value='true' name="published")
        span.form-check-label Hiển thị lên website
    button#add-product.btn.btn-primary(type="submit") Xác nhận