extends ../layouts/default.pug

block main_content
    - currentPage = parseInt(currentPage)
    - totalPages = parseInt(totalPages)
    section.content-main
        .content-header
            h2.content-title Sản phẩm
        .card.mb-4
            header.card-header
                .row.gx-3
                    .col-lg-4.col-md-6.me-auto
                        input.form-control(type='text' placeholder='Tìm kiếm...' value=search)
                    .col-lg-2.col-6.col-md-3
                        select.form-select.products
                            option Mặt hàng
                            each item in categories
                                if item.content === category
                                    option(selected)= item.content
                                else 
                                    option= item.content
                    .col-lg-2.col-6.col-md-3
                        select.form-select.products-sort
                            if sortBy === undefined || sortBy == "new"
                                option(value="new" selected) Mới nhất
                            else
                                option(value="new") Mới nhất

                            if sortBy == "old"
                                option(value="old" selected) Cũ nhất
                            else
                                option(value="old") Cũ nhất

                            if sortBy == "name-asc"
                                option(value="name-asc" selected) Tên (A - Z)
                            else
                                option(value="name-asc") Tên (A - Z)

                            if sortBy == "name-desc"
                                option(value="name-desc" selected) Tên (Z - A)
                            else
                                option(value="name-desc") Tên (Z - A)

                            if sortBy == "price-asc"
                                option(value="price-asc" selected) Giá (Thấp &gt; Cao)
                            else
                                option(value="price-asc") Giá (Thấp &gt; Cao)

                            if sortBy == "price-desc"
                                option(value="price-desc" selected) Giá (Cao &gt; Thấp) 
                            else
                                option(value="price-desc") Giá (Cao &gt; Thấp)                          
            .card-body
                .row.gx-3.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-xl-4.row-cols-xxl-5
                    each product in products 
                        .col 
                            .card.card-product-grid 
                                a.img-wrap(href='#')
                                    img(src=product.imageUrl)
                                .info-wrap 
                                    a.title.text-truncate(href='#')= product.name 
                                    .price.mb-2= `${product.price} VNĐ`
                                    a.btn.btn-sm.btn-light(href=`/products/${product.id}/edit`)
                                        i.material-icons.md-edit
                                        | Sửa
                                    div.btn.btn-sm.btn-outline-danger(data-id=product.id)
                                        i.material-icons.md-delete_forever
                                        | Xóa
        nav.float-end.mt-4(aria-label='Page navigation')
            ul.pagination
                if currentPage > 1
                    li.page-item
                        a.page-link(href=`?page=${currentPage - 1}`) Trước
                else 
                    li.page-item.disabled
                        a.page-link(href="#") Trước

                if totalPages == 1
                    li.page-item.active 
                        a.page-link(href="#") 1
                else if totalPages == 2
                    if currentPage == 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                    else
                        li.page-item
                            a.page-link(href=`?page=1`) 1
                        li.page-item.active 
                            a.page-link(href="#") 2
                else
                    if currentPage <= 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                        li.page-item
                            a.page-link(href=`?page=3`) 3
                    else if currentPage >= totalPages 
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 2}`)= totalPages - 2
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 1}`)= totalPages - 1
                        li.page-item.active 
                            a.page-link(href="#")= totalPages 
                    else
                        li.page-item
                            a.page-link(href=`?page=${currentPage - 1}`)= currentPage - 1
                        li.page-item.active
                            a.page-link(href="#")= currentPage
                        li.page-item 
                            a.page-link(href=`?page=${currentPage + 1}`)= currentPage + 1

                if currentPage >= totalPages
                    li.page-item.disabled
                        a.page-link(href="#") Sau
                else
                    li.page-item
                        a.page-link(href=`?page=${currentPage + 1}`) Sau

