extends ../layouts/default.pug

block main_content
    - currentPage = parseInt(currentPage)
    - totalPages = parseInt(totalPages)
    section.content-main
        .content-header
            h2.content-title Đơn hàng
        .card.mb-4
            header.card-header
                .row.gx-3
                    .col-lg-4.col-md-6.me-auto
                        if search !== undefined 
                            input.form-control.orders(value=search type='text' placeholder='Tìm kiếm...')
                        else
                            input.form-control.orders(type='text' placeholder='Tìm kiếm...')
                    .col-lg-2.col-6.col-md-3
                        select.form-select.orders
                            if status === undefined || status == "Tình trạng"
                                option(selected) Tình trạng
                            else
                                option Tình trạng

                            if status == "Đang giao hàng"
                                option(selected) Đang giao hàng
                            else
                                option Đang giao hàng

                            if status == "Đang xử lý"
                                option(selected) Đang xử lý
                            else
                                option Đang xử lý

                            if status == "Đã giao hàng"
                                option(selected) Đã giao hàng
                            else
                                option Đã giao hàng

                            if status == "Đã hủy"
                                option(selected) Đã hủy
                            else
                                option Đã hủy
            .card-body
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th #ID
                                th(scope='col') Tên
                                th(scope='col') Email
                                th(scope='col') Tổng
                                th(scope='col') Tình trạng
                                th(scope='col') Ngày đặt
                                th(scope='col')
                        tbody
                            each order in orders
                                tr
                                    td= order.id
                                    td
                                        b= order.fullName
                                    td= order.email
                                    td= `${order.total} VNĐ`
                                    td
                                        if (order.status == "Đang xử lý" || order.status == "Đang giao hàng")
                                            span.badge.rounded-pill.alert-warning= order.status 
                                        else if order.status == "Đã hủy"
                                            span.badge.rounded-pill.alert-danger= order.status 
                                        else 
                                            span.badge.rounded-pill.alert-success= order.status 
                                    td= order.createdAt
                                    td.text-end
                                        a.btn.btn-light(href=`/orders/${order.id}`) Chi tiết
        nav.float-end.mt-4(aria-label='Page navigation')
            ul.pagination
                if currentPage > 1
                    li.page-item
                        a.page-link(href=`?page=${currentPage - 1}`) Trước
                else 
                    li.page-item.disabled
                        a.page-link(href="#") Trước

                if totalPages == 1
                    li.page-item.active 
                        a.page-link(href="#") 1
                else if totalPages == 2
                    if currentPage == 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                    else
                        li.page-item
                            a.page-link(href=`?page=1`) 1
                        li.page-item.active 
                            a.page-link(href="#") 2
                else
                    if currentPage <= 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                        li.page-item
                            a.page-link(href=`?page=3`) 3
                    else if currentPage >= totalPages 
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 2}`)= totalPages - 2
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 1}`)= totalPages - 1
                        li.page-item.active 
                            a.page-link(href="#")= totalPages 
                    else
                        li.page-item
                            a.page-link(href=`?page=${currentPage - 1}`)= currentPage - 1
                        li.page-item.active
                            a.page-link(href="#")= currentPage
                        li.page-item 
                            a.page-link(href=`?page=${currentPage + 1}`)= currentPage + 1

                if currentPage >= totalPages
                    li.page-item.disabled
                        a.page-link(href="#") Sau
                else
                    li.page-item
                        a.page-link(href=`?page=${currentPage + 1}`) Sau                                            