extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            a.btn.btn-light(href='javascript:history.back()')
                i.material-icons.md-arrow_back
                |  Quay lại
            h2.content-title Chi tiết đơn hàng
        .card
            header.card-header
                .row.align-items-center
                    .col-lg-6.col-md-6
                        span
                            i.material-icons.md-calendar_today
                            b= ` ${order.createdAt}`
                        br
                        small.text-muted= `Order ID: ${order.id}`
                        br
                        if (order.status == "Đang xử lý" || order.status == "Đang giao hàng")
                            span.badge.rounded-pill.alert-warning= order.status 
                        else if order.status == "Đã hủy"
                            span.badge.rounded-pill.alert-danger= order.status 
                        else 
                            span.badge.rounded-pill.alert-success= order.status                         
                    .col-lg-6.col-md-6.ms-auto.text-md-end
                        form.orders(method='POST' action=`/orders/${order.id}`)
                            select.form-select.d-inline-block.orders(name="status" style='max-width: 200px')
                                option Thay đổi trạng thái
                                option Đang xử lý
                                option Đang giao hàng
                                option Đã giao hàng
                                option Đã hủy
                            button.btn.btn-light(type="submit") Lưu
            .card-body
                .row.mb-5.order-info-wrap
                    .col-md-4
                        article.icontext.align-items-start
                            span.icon.icon-sm.rounded-circle.bg-primary-light
                                i.text-primary.material-icons.md-person
                            .text
                                h6.mb-1 Khách hàng
                                p.break-line.mb-1= `${user.fullName}\n${user.email}\n${user.phoneNumber}`
                                    
                                a(href=`/users/${user.id}`) Xem profile
                    .col-md-4
                        article.icontext.align-items-start
                            span.icon.icon-sm.rounded-circle.bg-primary-light
                                i.text-primary.material-icons.md-local_shipping
                            .text
                                h6.mb-1 Thông tin người nhận
                                p.break-line.mb-1= `${order.fullName}\n${order.email}\n${order.phoneNumber}`
                    .col-md-4
                        article.icontext.align-items-start
                            span.icon.icon-sm.rounded-circle.bg-primary-light
                                i.text-primary.material-icons.md-place
                            .text
                                h6.mb-1 Địa chỉ giao
                                p.mb-1= order.address
                .row
                    .col-lg-8
                        .table-responsive
                            table.table.border.table-hover.table-lg
                                thead
                                    tr
                                        th(width='40%') Sản phẩm
                                        th(width='20%') Giá
                                        th(width='20%') Số lượng
                                        th.text-end(width='20%') Đơn giá
                                tbody
                                    each item in order.items
                                        tr
                                            td
                                                a.itemside(href=`products/${item.productId}/edit`)
                                                    .left
                                                        img.img-xs(src=item.imageUrl width='40' height='40' alt='Item')
                                                    .info= item.name
                                            td= `${item.price} VNĐ`
                                            td= item.quantity
                                            td.text-end= `${item.total} VNĐ`
                    .col-lg-4
                        .h-25.pt-4
                            .mb-3
                                label Notes
                                textarea#notes.form-control(name='notes' value=order.note disabled)
                            h6= `Thành tiền: ${order.total} VNĐ`