extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            h2.content-title Thông tin cá nhân
        .card
            .card-body
                .row.gx-5
                    .col
                        section.content-body.p-xl-4
                            form(method='POST' action=`/settings` enctype='multipart/form-data')
                                .row
                                    .col-lg-8
                                        .row.gx-3
                                            .col-lg-12.mb-3
                                                label.form-label Họ và tên
                                                input.form-control(type='text' value=account.fullName name="fullName")
                                            .col-lg-12.mb-3
                                                label.form-label Email
                                                p= account.email
                                            .col-lg-12.mb-3
                                                label.form-label Điện thoại
                                                input.form-control(type='tel' value=account.phoneNumber name="phoneNumber")                                                
                                            .col-lg-12.mb-3
                                                label.form-label Địa chỉ
                                                input.form-control(type='text' value=account.address name="address")
                                    aside.col-lg-4
                                        figure.text-lg-center
                                            .avatar-wrapper
                                                if account.avatarUrl == null
                                                    img.profile-pic(src="/images/people/avatar-default.jpg")
                                                else 
                                                    img.profile-pic(src=account.avatarUrl)
                                                .upload-button
                                                    i.fa.fa-arrow-circle-up(aria-hidden='true')
                                                input.file-upload(type='file' accept='image/*', name="avatar")
                                    .col-lg-4
                                        button.btn.btn-primary(type='submit') Lưu thay đổi
                            hr.my-5
                            .row(style='max-width: 920px')
                            .col-md
                                article.box.mb-3.bg-light
                                    a.btn.float-end.btn-light.btn-sm(href="#" data-target="#pwdModal" data-toggle="modal") Thay đổi
                                    h6 Mật khẩu
                                    small.text-muted.d-block(style='width: 70%') Bạn có thể thay đổi mật khẩu bằng cách bấm vào đây
        #pwdModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.text-center Thay đổi mật khẩu
                    .modal-body
                        .col-md-12
                            .panel.panel-default
                                .panel-body
                                    .text-center
                                        .panel-body
                                            fieldset
                                                form.form-group(method='POST' action=`/settings/change-password`)
                                                    input.form-control.input-lg(placeholder='Mật khẩu hiện tại' name='currentPassword' type='password')
                                                    input.form-control.input-lg(placeholder='Mật khẩu mới' name='newPassword' type='password')
                                                    input.form-control.input-lg(placeholder='Xác nhận mật khẩu' name='confirmPassword' type='password')
                                                    button.btn.btn-lg.btn-primary.btn-block.mt-5(type='submit') Gửi
                    .modal-footer
                        .col-md-3.ml-auto
                            button.btn(data-dismiss='modal' aria-hidden='true') Đóng                                    