extends ../layouts/default.pug

block main
    .Shopping-cart-area.pt-60.pb-60
        .container
            .row
                .col-12
                    form(action='#')
                        .table-content.table-responsive
                            table.table
                                thead
                                    tr
                                        th.li-product-remove Xoá
                                        th.li-product-thumbnail Hình ảnh
                                        th.cart-product-name Sản phẩm
                                        th.li-product-price Giá
                                        th.li-product-quantity Số lượng
                                        th.li-product-subtotal Đơn giá
                                tbody
                                    each item in cart.items 
                                        tr.td.li-product-remove(id=item.id)
                                            td.li-product-remove.cart
                                                a(href="javascript:;")
                                                    i.fa.fa-times 
                                            td.li-product-thumbnail.cart 
                                                a(href=`/product/${item.slug}`)
                                                    img(src=item.imageUrl)
                                            td.li-product-name.cart 
                                                a(href=`/product/${item.slug}`)= item.name 
                                            td.li-product-price.cart
                                                span.amount= `${item.price} VNĐ`
                                            td.quantity.cart
                                                label Số lượng
                                                .cart-plus-minus
                                                    input.cart-plus-minus-box(onkeypress="validate(event)" min='1' value=item.quantity type='text')
                                                    .dec.qtybutton
                                                        i.fa.fa-angle-down
                                                    .inc.qtybutton
                                                        i.fa.fa-angle-up
                                                    .dec.qtybutton
                                                        i.fa.fa-angle-down
                                                    .inc.qtybutton
                                                        i.fa.fa-angle-up
                                            td.product-subtotal
                                                span.amount= `${item.total} VNĐ`
                        .row
                            .col-md-5.ml-auto
                                .cart-page-total
                                    h2 Thanh toán
                                    ul
                                        li
                                            | Thành tiền
                                            span= `${cart.total} VNĐ`
                                    a(href='/checkout') Thanh toán
