extends ../layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
                    li.active Hóa đơn
    .wishlist-area.pt-60.pb-60
        .container
            .row
                .col-12
                    form(action='#')
                        .table-content.table-responsive
                            table.table
                                thead
                                    tr
                                        th.li-product-thumbnail Hình ảnh
                                        th.cart-product-name Sản phẩm
                                        th.li-product-price Giá
                                        th.li-product-quantity Số lượng
                                        th.li-product-subtotal Đơn giá
                                tbody
                                    each item in order.items 
                                        tr
                                            td.li-product-thumbnail
                                                a(href=`/product/${item.slug}`)
                                                    img(src=item.imageUrl alt='')
                                            td.li-product-name
                                                a(href=`/product/${item.slug}`)= item.name
                                            td.li-product-price
                                                span.amount= `${item.price} VNĐ`
                                            td.product-subtotal
                                                span.amount= item.quantity
                                            td.product-subtotal
                                                span.amount= `${item.total} VNĐ`
                        .row
                            .col-md-5
                                .cart-page-total
                                    h2 Hóa đơn
                                    ul
                                        li
                                            | Họ và tên:
                                            p= order.fullName
                                        li
                                            | Địa chỉ
                                            p= order.address
                                        li
                                            | Email:
                                            p= order.email
                                        li
                                            | Điện thoại
                                            p= order.phoneNumber
                                        li
                                            | Ghi chú:
                                            p= order.note                                                                            
                            .col-md-5.ml-auto
                                .cart-page-total
                                    h2 Thanh toán
                                    ul
                                        li
                                            | Tình trạng
                                            span= order.status                       
                                        li
                                            | Thành tiền
                                            span= `${order.total} VNĐ`
