extends ../layouts/default.pug

block main_content
    - currentPage = parseInt(currentPage)
    - totalPages = parseInt(totalPages)
    section.content-main
        .content-header
            h2.content-title Quản trị viên
        .card.mb-4
            header.card-header
                .row.gx-3
                    .col-lg-4.col-md-6.me-auto
                        input.form-control(value=search type='text' placeholder='Tìm kiếm...')
                    .col-lg-2.col-6.col-md-3
                        select.form-select.admins
                            if (activated === undefined)
                                option(selected) Tình trạng
                            else 
                                option Tình trạng

                            if (activated == 1)
                                option(value="1" selected) Đã kích hoạt
                            else 
                                option(value="1") Đã kích hoạt

                            if (activated == 0)
                                option(value='0' selected) Chưa kích hoạt
                            else 
                                option(value='0') Chưa kích hoạt
            .card-body
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th Tên
                                th Email
                                th Quyền
                                th Tình trạng
                                th.text-end
                        tbody
                            each user in users
                                tr
                                    td(width='40%')
                                        a.itemside(href='#')
                                            .left
                                                if user.avatarUrl === null
                                                    img.img-sm.img-avatar(src='/images/people/avatar-default.jpg' alt='Userpic')
                                                else                                    
                                                    img.img-sm.img-avatar(src=user.avatarUrl alt='Userpic')
                                            .info.pl-3
                                                h6.mb-0.title= user.fullName
                                                small.text-muted= `ID: #${user.id}`
                                    td= user.email
                                    if user.role == "Admin"
                                        td Quản trị viên
                                    else 
                                        td Quản trị viên phụ
                                    td
                                        if user.activated == 1
                                            span.badge.rounded-pill.alert-success Đã kích hoạt
                                        else
                                            span.badge.rounded-pill.alert-danger Chưa kích hoạt                                  
                                    td.text-end
                                        a.btn.btn-light(href=`/admins/${user.id}`) Xem
        nav.float-end.mt-4(aria-label='Page navigation')
            ul.pagination
                if currentPage > 1
                    li.page-item
                        a.page-link(href=`?page=${currentPage - 1}`) Trước
                else 
                    li.page-item.disabled
                        a.page-link(href="#") Trước

                if totalPages == 1
                    li.page-item.active 
                        a.page-link(href="#") 1
                else if totalPages == 2
                    if currentPage == 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                    else
                        li.page-item
                            a.page-link(href=`?page=1`) 1
                        li.page-item.active 
                            a.page-link(href="#") 2
                else
                    if currentPage <= 1
                        li.page-item.active 
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href=`?page=2`) 2
                        li.page-item
                            a.page-link(href=`?page=3`) 3
                    else if currentPage >= totalPages 
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 2}`)= totalPages - 2
                        li.page-item
                            a.page-link(href=`?page=${totalPages - 1}`)= totalPages - 1
                        li.page-item.active 
                            a.page-link(href="#")= totalPages 
                    else
                        li.page-item
                            a.page-link(href=`?page=${currentPage - 1}`)= currentPage - 1
                        li.page-item.active
                            a.page-link(href="#")= currentPage
                        li.page-item 
                            a.page-link(href=`?page=${currentPage + 1}`)= currentPage + 1

                if currentPage >= totalPages
                    li.page-item.disabled
                        a.page-link(href="#") Sau
                else
                    li.page-item
                        a.page-link(href=`?page=${currentPage + 1}`) Sau                                                                                    