extends ../layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
                    li.active Thanh toán
    .checkout-area.pt-60.pb-30
        .container
            .row
                .col-lg-6.col-12
                    form(action='#')
                        .checkbox-form
                            h3 Hóa đơn
                            .row
                                .col-md-12
                                    .checkout-form-list
                                        label
                                            | Họ và tên
                                            span.required *
                                        input#fullname-checkout(type='text' value=user.fullName)
                                .col-md-12
                                    .checkout-form-list
                                        label
                                            | Địa chỉ
                                            span.required *
                                        input#address-checkout(type='text' value=user.address)
                                .col-md-6
                                    .checkout-form-list
                                        label
                                            | Email 
                                            span.required *
                                        input#email-checkout(type='email' value=user.email)
                                .col-md-6
                                    .checkout-form-list
                                        label
                                            | Điện thoại
                                            span.required *
                                        input#phonenumber-checkout(type='text' value=user.phoneNumber)
                            .order-notes
                                .checkout-form-list
                                    label Ghi chú
                                    textarea#checkout-mess(cols='30' rows='10')
                                .checkout-form-list
                                    span#message-checkout                          
                .col-lg-6.col-12
                    .your-order
                        h3 Chi tiết đơn hàng
                        .your-order-table.table-responsive
                            table.table
                                thead
                                    tr
                                        th.cart-product-name Sản phẩm
                                        th.cart-product-total Tổng
                                tbody
                                    each item in cart.items 
                                        tr.cart-item 
                                            td.cart-product-name= item.name 
                                                strong.product-quantity= ` x ${item.quantity}`
                                            td.cart-product-total 
                                                span.amount= `${item.total} VNĐ`
                                tfoot
                                    tr.order-total
                                        th Thành tiền
                                        td
                                            strong
                                                span.amount= `${cart.total} VNĐ`
                        .payment-method
                            .payment-accordion
                                #accordion
                                    .card
                                        .card-header(id='#payment-1')
                                            h5.panel-title
                                                a(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                    | Thanh toán trực tuyến
                                        #collapseOne.collapse.show(data-parent='#accordion')
                                            .card-body
                                                p Đang cập nhật
                                    .card
                                        .card-header(id='#payment-2')
                                            h5.panel-title
                                                a.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                    | Thanh toán khi nhận hàng
                                        #collapseTwo.collapse(data-parent='#accordion')
                                            .card-body
                                                p Đang cập nhật
                                .order-button-payment
                                    input(value='Xác nhận' type='submit')