extends ../layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
                    li.active Sản phẩm yêu thích
    .wishlist-area.pt-60.pb-60
        .container
            .row
                .col-12
                    form(action='#')
                        .table-content.table-responsive
                            table.table
                                thead
                                    tr
                                        th.li-product-remove Xóa
                                        th.li-product-thumbnail Hình ảnh
                                        th.cart-product-name Sản phẩm
                                        th.li-product-price Giá
                                        th.li-product-add-cart Thêm vào giỏ hàng
                                tbody
                                    each item in wishlist
                                        tr(id=item.id) 
                                            td.li-product-remove.wishlist 
                                                a(href="javascript:;")
                                                    i.fa.fa-times 
                                            td.li-product-thumbnail.wishlist 
                                                a(href=`/product/${item.slug}`)
                                                    img(src=item.imageUrl)
                                            td.li-product-name.wishlist
                                                a(href=`/product/${item.slug}`)= item.name 
                                            td.li-product-price.wishlist
                                                span.amount= `${item.price} VNĐ`
                                            td.li-product-add-cart.wishlist
                                                a(href="javascript:;" onclick=`addItemToCart(${item.id});`) Thêm vào giỏ hàng